<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Cambio password</title>
    </head>
    <body>
        <div>
            <div class="d-flex justify-content-end" style="background-color: #212121; height: 71.08px; width: 100%; text-align: center; ">
                <p style="font-size: 50px; line-height: 71.08px; color: #ffffff; font-weight: 600;">TAXI 24/7</p>
            </div>
            <div style="padding: 53.9px 66px;">
                <div class="d-flex" style="margin-bottom: 29px;">
                    <img src='https://tour.taxi-huaraz.com/images/image_cambio_password.png' style="margin-right: 19px; width: 186px; height: 212px;"/>
                    <div style="align-self: center; padding: 6.83px 0px;">
                        <p style="font-size: 20px; font-weight: bold; line-height: 22px; margin-bottom: 0px; margin-top: 0px;">¡Hola {{nombres}}!</p>
                        <p style="font-size: 12px; margin-bottom: 0px; margin-top: 0px;">Ingresa al siguiente código de verificación</p>
                        <p style="font-size: 12px; margin-bottom: 10px; margin-top: 0px;">para recuperar tu contraseña.</p>
                        <p style="font-size: 24px; margin-bottom: 10px; margin-top: 0px;">Código {{codigo}}</p>
                        <p style="font-size: 12px; margin-bottom: 0px; margin-top: 0px;">El equipo TAXI 24/7.</p>
                    </div>
                </div>
                <div style="width: 100%;">
                    <p style="font-size: 10px; text-align: justify; margin-bottom: 8px; margin-top: 0px">Recibe este servicio de correo electrónico porque se registró en una cuenta de Taxi 24/7. A menos que se haya registrado para recibir boletines informativos de Taxi 24/7, solo le enviaremos un correo electrónico si necesitamos ponernos en contacto con usted para informarle sobre cambios en su cuenta.</p>
                    <p style="font-size: 10px; text-align: center; margin-bottom: 8px; margin-top: 0px">Taxi 24/7 nunca le pedirá que actualice la información de su cuenta de los correos electrónicos de servicio.</p>
                    <p style="font-size: 10px; text-align: center; margin-bottom: 0px; margin-top: 0px">Este correo electrónico se envía desde una cuenta automatizada que no se supervisa y, por lo tanto, no podemos responder a las respuestas a este correo electrónico. Si tiene alguna pregunta sobre su cuenta, encontrará mucha información útil en nuestra página de Preguntas frecuentes.</p>
                </div>
            </div>
            <div style="background-color: rgba(39, 39, 39, 0.6); height:56px; width:600px; text-align:center;padding:18.3px 38px">
                <div style="display:flex; flex-wrap: wrap; justify-content: space-between!important;">
                    <img src='https://tour.taxi-huaraz.com/images/icono_taxi_512.png' style="width: 48px; height: 48px;"/>
                    <div class="d-flex">
                        <img src="https://babysos.pe/images/footer/footer_facebook.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_instagram.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_linkedin.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_twitter.png" style="width: 19.33px; height: 19.33px;"/>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>